@charset "utf-8";

@font-face {
  font-family: 'icomoon';
  src:  url('../../social-media/css/fonts/icomoon.eot?mfz3g5');
  src:  url('../../social-media/css/fonts/icomoon.eot?mfz3g5#iefix') format('embedded-opentype'),
    url('../../social-media/css/fonts/icomoon.ttf?mfz3g5') format('truetype'),
    url('../../social-media/css/fonts/icomoon.woff?mfz3g5') format('woff'),
    url('../../social-media/css/fonts/icomoon.svg?mfz3g5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.sm-icon {
	color:#fff;
	line-height:35px;
	width:35px;
	height:35px;
	display:inline-block;
	text-align:center;
	position:relative;
	transition:all 0.3s;
  font-size:20px;
	transition:all 0.3s;
  font-family: 'icomoon';
}
.sm-icon.auto-width {
	width:auto;
	padding-right:10px;
	text-transform:uppercase;
}

.sm-icon a {
	text-decoration:none !important;
}
.circle {
	background:#000;
	border-radius:50%;
}
.rounded-corners {
	border-radius:10px;
}
.sm-icon:before {
  content:"";
	font-family: 'icomoon';
}
.sm-icon:hover {
	opacity:0.8;
}
.icon-email:before {
  content: "\e900";
}
.icon-envelope:before {
  content: "\e901";
}
.icon-phone:before {
  content: "\e902";
}
.icon-pinterest:before {
  content: "\e903";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-linkedin:before {
  content: "\eaca";
}
.Brand .icon-facebook {
  background:#3b5998;
}
.Brand .icon-twitter {
  background:#1da1f2;
}
.Brand .icon-instagram {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#faa946+0,e76145+20,e44953+36,bf397c+61,8c39a7+83;Instagram */
background: #faa946; /* Old browsers */
background: -moz-radial-gradient(bottom left, ellipse cover,  #faa946 0%, #e76145 20%, #e44953 36%, #bf397c 61%, #8c39a7 83%); /* FF3.6-15 */
background: -webkit-radial-gradient(bottom left, ellipse cover,  #faa946 0%,#e76145 20%,#e44953 36%,#bf397c 61%,#8c39a7 83%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at bottom left,  #faa946 0%,#e76145 20%,#e44953 36%,#bf397c 61%,#8c39a7 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


}
.Brand .icon-linkedin {
  background:#0077b5;
}
.Brand .icon-pinterest {
  background:#bd081c;
}
.Brand .icon-youtube {
  background:#cd201f;
}
.Brand .icon-email, .Brand .icon-envelope {
  background:#8fc400;
}
.Brand .icon-phone {
  background:#227A00;
}
.Brand .icon-google, .Brand .icon-google-plus {
  background:#ea4335;
}
a {
	text-decoration:none;
}
.popup {
	display:none;
	color:#54564b;
	background:#fff;
	padding:5px 8px;
	border-radius:10px;
	position:absolute;
	top:0;
	right:110px;
	font-weight:bold;
	font-size:16px;
}
