@charset "utf-8";
@font-face {
  font-family: 'FontAwesome';
  src: url('../../fa-icons/css/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../../fa-icons/css/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-openfonts'), url('../../fa-icons/css/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../../fa-icons/css/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truefonts'), url('../../fa-icons/css/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa-icon {
	color:#fff;
	line-height:50px;	
	width:35px;
	height:35px;
	display:inline-block;
	text-align:center;
	padding-left:5px;
	position:relative;
	transition:all 0.3s;
}
.fa-icon.auto-width {
	width:auto;
	padding-right:10px;
	text-transform:uppercase;
}
.fa-icon.full-width {
	width:100%;
	clear:both;
	text-align:left;
	line-height:30px;
	text-transform:lowercase;
	font-weight:bold;
}
.fa-icon.full-width .icon {
	position:relative;
	top:3px;
	margin-right:15px;
}
.fa-icon a {
	text-decoration:none !important;
}
.circle {
	background:#000;
	border-radius:50%;
}
.rounded-corners {
	border-radius:10px;
}
.icon:before {
	font-family: 'FontAwesome';
	font-size:25px;
	line-height:30px;
	margin-right:5px;
	color:#54564b;
	transition:all 0.3s;
}
.fa-icon:hover .icon:before {
	color:##78a407;
}
.fa-facebook:before {
	content:"\f09a";
}
.fa-facebook-square:before{
	content:"\f082";
}
.fa-twitter:before {
	content:"\f099";
}
.fa-linkedin:before {
	content:"\f0e1";
}
.fa-pinterest:before {
	content:"\f231";
}
.fa-instagram:before {
	content:"\f16d";
}
.fa-email:before {
	content:"\f1fa";
}
.fa-envelope:before {
	content:"\f0e0";
}
.fa-phone:before {
	content:"\f095";
}
.fa-shopping-cart:before {
	content:"\f07a";
}
.fa-youtube:before {
	content:"\f167";
}
.Brand .fa-facebook {
  background:#3b5998;
}
.Brand .fa-twitter {
  background:#1da1f2;
}
.Brand .fa-instagram {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#faa946+0,e76145+20,e44953+36,bf397c+61,8c39a7+83;Instagram */
  background: #faa946; /* Old browsers */
  background: -moz-linear-gradient(left,  #faa946 0%, #e76145 20%, #e44953 36%, #bf397c 61%, #8c39a7 83%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #faa946 0%,#e76145 20%,#e44953 36%,#bf397c 61%,#8c39a7 83%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #faa946 0%,#e76145 20%,#e44953 36%,#bf397c 61%,#8c39a7 83%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.Brand .fa-linkedin {
  background:#0077b5;
}
.Brand .fa-pinterest {
  background:#bd081c;
}
.Brand .fa-youtube {
  background:#cd201f;
}
.Brand .fa-email, .Brand .fa-envelope {
  background:#8fc400;
}
.Brand .fa-phone {
  background:#227A00;
}
a {
	text-decoration:none;
}
.popup {
	display:none;
	color:#54564b;
	background:#fff;
	padding:5px 8px;
	border-radius:10px;
	position:absolute;
	top:0;
	right:110px;
	font-weight:bold;
	font-size:16px;
}
